{% macro widget_image() %}
  <div class="widget widget-image">
    <div class="widget__body">
      <a href="#" class="widget-image__img-box">
        <img src="img/widget-image_1.jpg" alt="img" class="widget-image__img">
      </a>
    </div>
  </div>
{% endmacro %}