    
{% macro widget_rating(title, stars, stars_selected) %}

  {% set all_count = 5 %}

    <div class="widget widget-rating">
      <div class="widget__title">{{ title }}</div>
      <div class="widget__body">
      
        {% for star in stars %}
          <a href="#" class="widget-rating__item">
            <ul class="stars stars_disabled">

              {% for i in range(0, star) %}
                <li class="active"></li>
              {% endfor %}

              {% for i in range(0, all_count - star) %}
                <li></li>
              {% endfor %}
            </ul>

            {% if (star == stars_selected) %}
              <span class="widget-rating__text widget-rating__text_active">и выше</span>
            {% else %}
              <span class="widget-rating__text">и выше</span>
            {% endif %}

          </a>
        {% endfor %}

      </div>
    </div>
{% endmacro %}