{% macro widget_news(title) %}

  <div class="widget widget-news">
    <div class="widget__title">{{ title}}</div>
    <div class="widget__body">
      <div class="widget-news__list">
        <div class="widget-news__item">
          <a href="#" class="widget-news__img-box">
            <img src="img/widget-news_1.jpg" alt="widget-news" class="widget-news__img">
          </a>
          <div class="widget-news__title">
            <a href="#">
              Парк Швейцария в
              Нижнем Новгороде
              хотят полностью
              переделать (фото)
            </a>
          </div>
        </div>
        <div class="widget-news__item">
          <a href="#" class="widget-news__img-box">
            <img src="img/widget-news_1.jpg" alt="widget-news" class="widget-news__img">
          </a>
          <div class="widget-news__title">
            <a href="#">
              Парк Швейцария в
              Нижнем Новгороде
              хотят полностью
              переделать (фото)
            </a>
          </div>
        </div>
        <div class="widget-news__item">
          <a href="#" class="widget-news__img-box">
            <img src="img/widget-news_1.jpg" alt="widget-news" class="widget-news__img">
          </a>
          <div class="widget-news__title">
            <a href="#">
              Парк Швейцария в
              Нижнем Новгороде
              хотят полностью
              переделать (фото)
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endmacro %}