    
    <footer class="footer">
      <div class="footer__top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <a href="#header" class="go-up">
                <img src="img/go_up.png" alt="Вверх" class="go-up__img">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="f-logo">
                <div class="f-logo__img-box">
                  <a href="#" class="f-logo__link">
                    <img src="img/logo.png" alt="логотип" class="f-logo__img">
                  </a>
                </div>
                <div class="f-logo__text">
                  <div class="f-logo__title">
                    Союз Покупателей
                  </div>
                  <div class="f-logo__desc">
                    уникальные торговые площадки
                    в традициях “совместных покупок”
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="site-info">
                Официальный сайт совместных покупок
                «Союз покупателей - Нижний Новгород».
                На сайте можно купить недорогую и модную одежду,
                обувь и прочие товары от производителей по оптовой цене.
              </div>
            </div>
            <div class="col-md-4">
              <div class="support-info">
                <div class="support-info__text">
                  Тех. поддержка: <a href="mailto://support@nn-sp.ru" class="support-info__link">support@nn-sp.ru</a>
                </div>
                <div class="support-info__socials">
                  <div class="support-info__item">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                    <a href="skype:jevodann?call" class="support-info__link">jevodann</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <div class="copy">
                © 2010-2019 Союз покупателей.
                Все права защищены.
              </div>
            </div>
            <div class="col-lg-4">
              <div class="develop-info">
                Разработка и права на сайт<br>
                <a href="#" class="develop-info__link">
                  ООО "Профи-софт", г. Нижний Новгород, 2009 г.
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>


