
  <div class="mobile-menu">
    <div class="mobile-menu__close-box">
      <div class="mobile-menu__close">
        <span>Закрыть</span>
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <div class="mobile-menu__head">
      <div class="mobile-menu__avatar-box">
        <img src="img/user.png" alt="avatar" class="mobile-menu__avatar">
      </div>
      <div class="extra">
        <ul class="extra__list">
          <li>
            <a href="#" class="info-btn info-btn_sky">
              <i class="fa fa-bell-o info-btn__icon" aria-hidden="true"></i>
              <span class="info-btn__count">2</span>
            </a>
          </li>
          <li>
            <a href="#" class="info-btn info-btn_purple">
              <i class="fa fa-envelope-o info-btn__icon" aria-hidden="true"></i>
              <span class="info-btn__count">2</span>
            </a>
          </li>
          <li>
            <a href="#" class="info-btn info-btn_nopad info-btn_orange">
              <i class="fa fa-question-circle info-btn__icon" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mobile-menu__body">
      <ul class="mobile-menu__list">
        <li><a href="/">Главная</a></li>
        <li><a href="/catalogs.html">Каталоги</a></li>
        <li><a href="#">Рабочая кнопка</a></li>
        <li><a href="#">Пристрой</a></li>
        <li><a href="#">Кнопка</a></li>
        <li><a href="#">Корзина</a></li>
        <li><a href="#">Пункты выдачи</a></li>
        <li><a href="#">Настройки</a></li>
      </ul>
    </div>
    <div class="mobile-menu__footer">
      <button class="mobile-menu__button">
        Выйти
      </button>
    </div>
  </div>

  <div class="overlay"></div>