<div class="showing-mobile">
  <div class="showing-mobile__title">Записей на странице:</div>
  <select name="sel" id="sel" class="showing-mobile__select">
    <option value="100">100</option>
    <option value="200">200</option>
    <option value="300">300</option>
  </select>
</div>