      <div class="sort-mobile">
        <div class="sort-mobile__title">Сортировать:</div>
        <select name="sel" id="sel" class="sort-mobile__select">
          <option value="0">По популярности</option>
          <option value="1">По рейтингу</option>
          <option value="2">По категории</option>
        </select>
      </div>