<div class="filters-mobile">
  <div class="filters">
    <ul class="filters__list">
      <li class="filters__item">
        <div class="filters__one">
          Женская одежда
          <span class="filters__close">+</span>
        </div>
      </li>
      <li class="filters__item">
        <div class="filters__one">
          4
          <img src="img/star_on.png" alt="star" class="filters__star">
          и выше
          <span class="filters__close">+</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="filters-mobile__bottom">
    <div class="filters-desc">
      Показано 2 каталога из 1163
    </div>
    <button class="filters-mobile__reset">
      Сбросить
    </button>
  </div>
</div>