<!-- Mobile filters -->
<div class="mobile-filters">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="mobile-filters__in">
        <div class="mobile-filters__hidden">
        
          <div class="widget widget_checkboxes">
            <div class="widget__title">По категориям</div>
            <div class="widget__body">
              <ul class="widget__checkboxes">
                <li>
                  <div class="checkbox">
                    <input type="checkbox" name="category" id="widget_mcategory_1" class="check">
                    <label for="widget_mcategory_1" class="label">Женская одежда</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <input type="checkbox" name="category" id="widget_mcategory_2" class="check">
                    <label for="widget_mcategory_2" class="label">Мужская одежда</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <input type="checkbox" name="category" id="widget_mcategory_3" class="check">
                    <label for="widget_mcategory_3" class="label">Детская одежда</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <input type="checkbox" name="category" id="widget_mcategory_4" class="check">
                    <label for="widget_mcategory_4" class="label">Обувь</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <input type="checkbox" name="category" id="widget_mcategory_5" class="check">
                    <label for="widget_mcategory_5" class="label">Детские товары</label>
                  </div>
                </li>
                <li>
                  <div class="checkbox">
                    <input type="checkbox" name="category" id="widget_mcategory_6" class="check">
                    <label for="widget_mcategory_6" class="label">Сумки, аксессуары</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="widget widget-rating">
            <div class="widget__title">Рейтинг закупки</div>
            <div class="widget__body">

              <a href="#" class="widget-rating__item">
                <ul class="stars stars_disabled">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                </ul>
                <span class="widget-rating__text">и выше</span>
              </a>

              <a href="#" class="widget-rating__item">
                <ul class="stars stars_disabled">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                </ul>
                <span class="widget-rating__text widget-rating__text_active">и выше</span>
              </a>

              <a href="#" class="widget-rating__item">
                <ul class="stars stars_disabled">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <span class="widget-rating__text">и выше</span>
              </a>

              <a href="#" class="widget-rating__item">
                <ul class="stars stars_disabled">
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <span class="widget-rating__text">и выше</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mobile-filters__visible">
          <div class="mobile-filters__box">
            <div></div>
            <div class="mobile-filters__title">
              Фильтры по каталогам
            </div>
            <div class="mobile-filters__icon mobile-filters__icon_active">
              <svg viewBox="0 0 48 48">
                <use xlink:href="img/round_right.svg#icon"></use>
              </svg>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
 </div>