<div class="position-box">
  <div class="position-box__items">
    <ul>
      <li class="sets set_line position-box__selected">
        <div class="position-box__icon">
          <img src="img/icon_line.svg" alt="icon">
        </div>
      </li>
      <li class="sets set_block">
        <div class="position-box__icon">
          <img src="img/icon_block.svg" alt="icon">
        </div>
      </li>
    </ul>
  </div>
</div>