<div class="sort-box">
  <span class="sort-box__title">Сортировать по:</span>
  <div class="sort-box__items">
    <ul>
      <li class="sort-box__selected">
        <a href="#">
          Рейтингу закупки
          <img src="img/sort_up_down.svg" alt="sort">
        </a>
      </li>
      <li><a href="#">Среднему сроку поставки</a></li>
      <li><a href="#">Собранности</a></li>
      <li><a href="#">Экономии</a></li>
      <li><a href="#">Рейтингу организатора</a></li>
    </ul>
  </div>
</div>