{# Макрос GRID каталогов #}
{% macro buying(title='Одежда', class='red') %}
    <section class="buying buying_{{ class }}">
      <div class="buying__head">
        <div class="buying__band">
          <div class="buying__style">
            <h2 class="buying__title">
              <a href="#">{{ title }}</a>
            </h2>
            <a href="#" class="buying__all">
              Смотреть все закупки (230)
            </a>
          </div>
        </div>
      </div>
      <div class="buying__body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="buy-big">
                <a href="#" class="buy-big__img-box imagefill">
                  <img src="img/buy-big_1.jpg" alt="buy" class="buy-big__img">
                </a>
                <a href="#" class="button button_ghost-gray buy-big__maker">
                  Соблазн
                </a>
                <div class="buy-big__text-box">
                  <a href="#" class="buy-big__title">
                    Фактурная сумка-шопер
                    (срочная закупка 3 дня)
                  </a>
                  <div class="buy-big__info">
                    <div class="buying__price">
                      1100руб.
                    </div>
                    <a href="#" class="cat-btn">Купить</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="buying__cards">
                <div class="buy-min">
                  <a href="#" class="buy-min__img-box imagefill">
                    <img src="img/buy-min_1.jpg" alt="buy" class="buy-min__img">
                  </a>
                  <div class="buy-min__text-box">
                    <a href="#" class="buy-min__title">
                      MILAVITSA бюстгальтер мяг...
                    </a>
                    <a href="#" class="button button_ghost-gray buy-min__maker">
                      Соблазн
                    </a>
                    <div class="buy-min__info">
                      <div class="buy-min__price">
                        8000 руб.
                      </div>
                      <a href="#" class="cat-btn">
                        Купить
                      </a>
                    </div>
                  </div>
                </div>
                <div class="buy-min">
                  <a href="#" class="buy-min__img-box imagefill">
                    <img src="img/buy-min_1.jpg" alt="buy" class="buy-min__img">
                  </a>
                  <div class="buy-min__text-box">
                    <a href="#" class="buy-min__title">
                      MILAVITSA бюстгальтер мяг...
                    </a>
                    <a href="#" class="button button_ghost-gray buy-min__maker">
                      Соблазн
                    </a>
                    <div class="buy-min__info">
                      <div class="buy-min__price">
                        8000 руб.
                      </div>
                      <a href="#" class="cat-btn">
                        Купить
                      </a>
                    </div>
                  </div>
                </div>
                <div class="buy-min">
                  <a href="#" class="buy-min__img-box imagefill">
                    <img src="img/buy-min_1.jpg" alt="buy" class="buy-min__img">
                  </a>
                  <div class="buy-min__text-box">
                    <a href="#" class="buy-min__title">
                      MILAVITSA бюстгальтер мяг...
                    </a>
                    <a href="#" class="button button_ghost-gray buy-min__maker">
                      Соблазн
                    </a>
                    <div class="buy-min__info">
                      <div class="buy-min__price">
                        8000 руб.
                      </div>
                      <a href="#" class="cat-btn">
                        Купить
                      </a>
                    </div>
                  </div>
                </div>
                <div class="buy-min">
                  <a href="#" class="buy-min__img-box imagefill">
                    <img src="img/buy-min_1.jpg" alt="buy" class="buy-min__img">
                  </a>
                  <div class="buy-min__text-box">
                    <a href="#" class="buy-min__title">
                      MILAVITSA бюстгальтер мяг...
                    </a>
                    <a href="#" class="button button_ghost-gray buy-min__maker">
                      Соблазн
                    </a>
                    <div class="buy-min__info">
                      <div class="buy-min__price">
                        8000 руб.
                      </div>
                      <a href="#" class="cat-btn">
                        Купить
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="buying__cards">
                <div class="buy-min">
                  <a href="#" class="buy-min__img-box imagefill">
                    <img src="img/buy-min_1.jpg" alt="buy" class="buy-min__img">
                  </a>
                  <div class="buy-min__text-box">
                    <a href="#" class="buy-min__title">
                      MILAVITSA бюстгальтер мяг...
                    </a>
                    <a href="#" class="button button_ghost-gray buy-min__maker">
                      Соблазн
                    </a>
                    <div class="buy-min__info">
                      <div class="buy-min__price">
                        8000 руб.
                      </div>
                      <a href="#" class="cat-btn">
                        Купить
                      </a>
                    </div>
                  </div>
                </div>
                <div class="buy-min">
                  <a href="#" class="buy-min__img-box imagefill">
                    <img src="img/buy-min_1.jpg" alt="buy" class="buy-min__img">
                  </a>
                  <div class="buy-min__text-box">
                    <a href="#" class="buy-min__title">
                      MILAVITSA бюстгальтер мяг...
                    </a>
                    <a href="#" class="button button_ghost-gray buy-min__maker">
                      Соблазн
                    </a>
                    <div class="buy-min__info">
                      <div class="buy-min__price">
                        8000 руб.
                      </div>
                      <a href="#" class="cat-btn">
                        Купить
                      </a>
                    </div>
                  </div>
                </div>
                <div class="buy-min">
                  <a href="#" class="buy-min__img-box imagefill">
                    <img src="img/buy-min_1.jpg" alt="buy" class="buy-min__img">
                  </a>
                  <div class="buy-min__text-box">
                    <a href="#" class="buy-min__title">
                      MILAVITSA бюстгальтер мяг...
                    </a>
                    <a href="#" class="button button_ghost-gray buy-min__maker">
                      Соблазн
                    </a>
                    <div class="buy-min__info imagefill">
                      <div class="buy-min__price">
                        8000 руб.
                      </div>
                      <a href="#" class="cat-btn">
                        Купить
                      </a>
                    </div>
                  </div>
                </div>
                <div class="buy-min">
                  <a href="#" class="buy-min__img-box imagefill">
                    <img src="img/buy-min_1.jpg" alt="buy" class="buy-min__img">
                  </a>
                  <div class="buy-min__text-box">
                    <a href="#" class="buy-min__title">
                      MILAVITSA бюстгальтер мяг...
                    </a>
                    <a href="#" class="button button_ghost-gray buy-min__maker">
                      Соблазн
                    </a>
                    <div class="buy-min__info">
                      <div class="buy-min__price">
                        8000 руб.
                      </div>
                      <a href="#" class="cat-btn">
                        Купить
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="buying__all buying__all-bottom">
        Смотреть все закупки (230)
      </a>
    </section>
{% endmacro %}