{% macro showing(classes) %}
  <div class="showing {{ classes }}">
    Записей на странице
    <select name="show">
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
      <option value="400">400</option>
      <option value="500">500</option>
    </select>
  </div>
{% endmacro %}