    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="sliders">
            <div class="sliders__left">
              <div class="main-slider">
                <div class="main-slider__list">
                  <div class="main-slider__item">
                    <img src="img/slide_1.jpg" alt="Слайд" class="main-slider__img">
                  </div>
                  <div class="main-slider__item">
                    <img src="img/slide_1.jpg" alt="Слайд" class="main-slider__img">
                  </div>
                  <div class="main-slider__item">
                    <img src="img/slide_1.jpg" alt="Слайд" class="main-slider__img">
                  </div>
                  <div class="main-slider__item">
                    <img src="img/slide_1.jpg" alt="Слайд" class="main-slider__img">
                  </div>
                  <div class="main-slider__item">
                    <img src="img/slide_1.jpg" alt="Слайд" class="main-slider__img">
                  </div>
                  <div class="main-slider__item">
                    <img src="img/slide_1.jpg" alt="Слайд" class="main-slider__img">
                  </div>
                  <div class="main-slider__item">
                    <img src="img/slide_1.jpg" alt="Слайд" class="main-slider__img">
                  </div>
                  <div class="main-slider__item">
                    <img src="img/slide_1.jpg" alt="Слайд" class="main-slider__img">
                  </div>
                </div>
              </div>
            </div>
            <div class="sliders__right">
              <div class="item-slider">
                <div class="item-slider__list">
                  <div class="item-slider__item">
                    Пункты выдачи
                  </div>
                  <div class="item-slider__item">
                    Почему дешевле
                  </div>
                  <div class="item-slider__item">
                    Как это работает
                  </div>
                  <div class="item-slider__item">
                    От админа
                  </div>
                  <div class="item-slider__item">
                    От админа
                  </div>
                  <div class="item-slider__item">
                    От админа
                  </div>
                  <div class="item-slider__item">
                    От админа
                  </div>
                  <div class="item-slider__item">
                    От админа
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
