<div class="news-box-slider">
  <div class="news-box-slider__list">
    <div class="news-box-slider__item">
      <img src="img/news-box-slider__1.jpg" alt="img">
    </div>
    <div class="news-box-slider__item">
      <img src="img/news-box-slider__1.jpg" alt="img">
    </div>
    <div class="news-box-slider__item">
      <img src="img/news-box-slider__1.jpg" alt="img">
    </div>
  </div>
</div>