<div class="slider-comments">
  <div class="slider-comments__list">
    <div class="slider-comments__item">
      {% include "../slider-parts/slider-comment.njk" %}
    </div>
    <div class="slider-comments__item">
      {% include "../slider-parts/slider-comment.njk" %}
    </div>
    <div class="slider-comments__item">
      {% include "../slider-parts/slider-comment.njk" %}
    </div>
    <div class="slider-comments__item">
      {% include "../slider-parts/slider-comment.njk" %}
    </div>
    <div class="slider-comments__item">
      {% include "../slider-parts/slider-comment.njk" %}
    </div>
    <div class="slider-comments__item">
      {% include "../slider-parts/slider-comment.njk" %}
    </div>
  </div>
  <div class="slider-comments__arrows"></div>
</div>