{% macro catalogs_one(color) %}
  <div class="catalogs-one">
    <div class="catalogs-one__img-content">
      <a href="#" class="catalogs-one__img-box imageFill">
        <img src="img/catalogs-one_1.jpg" alt="catalogs-one" class="catalogs-one__img">
      </a>
      <ul class="stars stars_disabled">
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
      </ul>
      <div class="my-mark my-mark_{{ color }}">Популярная</div>

      <div class="catalogs-one__img-bottom">

        <div class="catalogs-one__heading">
          <div class="catalogs-one__title">
            <a href="#">Все для сада</a>
            <a href="#"><img src="img/heart.svg" alt="img"></a>
          </div>
          <div class="catalogs-one__desc">
            <a href="#">
              1500 сюжетов для вашего творчества
            </a>
          </div>
        </div>

        <div class="catalogs-one__round_right">
          <a href="#">
            <svg>
              <use xlink:href="img/round_right.svg#icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="catalogs-one__right">
      <div class="catalogs-one__text-content">
        <div class="catalogs-one__author-box">
          <a href="#" class="catalogs-one__author">
            <div class="catalogs-one__avatar">
              <img src="img/author__img.png" alt="avatar" class="catalogs-one__avatar-img">
              <img src="img/badge.png" alt="badge" class="catalogs-one__badge-img">
            </div>
            <div class="catalogs-one__info">
              <div class="catalogs-one__name">
                Нина Ивановна
              </div>
              <div class="catalogs-one__rating">
                Рейтинг <span class="round round_brown catalogs-one__rating-round">8,9</span>
              </div>
            </div>
          </a>
          <div class="catalogs-one__checks-2">
            <ul>
              <li>Доставка: 14-28 дней</li>
              <li>Бесплатная доставка</li>
              <li>Орг. сбор: 16%</li>
            </ul>
          </div>
          <a href="#" class="catalogs-one__riad">
            <img src="img/ico_riad.svg" alt="img">
          </a>
        </div>

        <div class="catalogs-one__info-in">
          <div class="catalogs-one__info-top">
            <ul>
              <li>
                <span class="catalogs-one__icon">
                  <img src="img/ico_time.svg" alt="ico">
                </span>
                До стопа осталось: 12 дней</li>
              <li>
                <span class="catalogs-one__icon">
                  <img src="img/ico_otziv.svg" alt="ico">
                </span>
                Отзывы о закупке
                <a href="#" class="round round_green">870</a>
                <a href="#" class="round round_black">0</a>
                <a href="#" class="round round_red">0</a>
              </li>
              <li>
                <span class="catalogs-one__icon">
                  <img src="img/ico_cash.svg" alt="ico">
                </span>
                Дешевле на 48% чем в магазинах</li>
            </ul>
            <a href="#" class="catalogs-one__info-messages">
              <img src="img/messages_round.svg" alt="message">
            </a>
          </div>
          <div class="progress-bar catalogs-one__progress-bar">
            <div class="progress-bar__line" style="width: 75%"></div>
            <div class="progress-bar__text">
              Набрано 75% из 15 000 р.
            </div>
          </div>
          <div class="catalogs-one__checks">
            <div class="catalogs-one__check">
              <i class="fa fa-check" aria-hidden="true"></i>
              Доставка: 14-28 дней
            </div>
            <div class="catalogs-one__check">
              <i class="fa fa-check" aria-hidden="true"></i>
              Орг. сбор: 16%
            </div>
            <div class="catalogs-one__check">
              <i class="fa fa-check" aria-hidden="true"></i>
              Бесплатная доставка
            </div>
            <div class="catalogs-one__check">
              <i class="fa fa-check" aria-hidden="true"></i>
              Ряды
            </div>
          </div>
        </div>
      </div>
      <div class="catalogs-one__cat-content">
        <div class="catalogs-one__cat catalogs-one__cat_1">
          <a href="/catalog.html" class="catalogs-one__cat__link">
            <img src="img/catalogs-one__cat_1.jpg" alt="cat" class="catalogs-one__cat-img">
          </a>
        </div>
        <div class="catalogs-one__cat catalogs-one__cat_2">
          <a href="/catalog.html" class="catalogs-one__cat__link">
            <img src="img/catalogs-one__cat_1.jpg" alt="cat" class="catalogs-one__cat-img">
          </a>
        </div>
        <div class="catalogs-one__cat catalogs-one__cat_3">
          <a href="/catalog.html" class="catalogs-one__cat__link">
            <img src="img/catalogs-one__cat_1.jpg" alt="cat" class="catalogs-one__cat-img">
          </a>
        </div>
        <div class="catalogs-one__cat catalogs-one__cat_4">
          <a href="/catalog.html" class="catalogs-one__cat__link">
            <img src="img/catalogs-one__cat_1.jpg" alt="cat" class="catalogs-one__cat-img">
          </a>
        </div>
        <div class="catalogs-one__cat-all">
          <div class="catalogs-one__cat-all-left">
            <div class="catalogs-one__cat-all-title">
              <a href="#">
                Посмотреть
                все товары
              </a>
            </div>
            <a href="#" class="catalogs-one__cat-all-read">
              Читать тему форума
            </a>
          </div>
          <div class="catalogs-one__cat-all-right">
            <a href="#" class="catalogs-one__cat-all-link">
              <svg>
                <use xlink:href="img/round_right.svg#icon"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}