<div class="slider-comment">
  <div class="slider-comment__head">
    <div class="slider-comment__img-box">
      <img src="img/slider-comment_1.jpg" alt="img" class="slider-comment__img">
    </div>
    <div class="slider-comment__title-box">
      <div class="slider-comment__title">
        Контейнер для еды силиконовый
      </div>
      <div class="slider-comment__reviews">
        <ul class="stars stars_sm stars_disabled">
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
        </ul>
        <div class="slider-comment__star-text">
          <a href="#">53 отзыва</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-comment__text">
    <div class="slider-comment__triangle"></div>
    <div class="slider-comment__text-in">
      Все прекрасно. Быстро, все в сохранности, работает. Спасибо! третья строчка...
    </div>
  </div>


</div>